.link_text {
    color: black;
    text-decoration: underline;
    font-weight: 300;
}

.link_section {
    margin-bottom: 1em;
    padding-left: 2em;
}

i {
    color: #17a2b8;
}

.stripe {
    background-color: #EEEEEE;
}